---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Methods from '../components/Methods.astro';
import Campaign from '../components/Campaign.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Education Excellence Cameroon - Transforming Secondary Education">
  <Header />
  <main>
    <Hero />
    <Methods />
    <Campaign />
    <Contact />
  </main>
  <Footer />
</Layout>